* {
    font-family: 'Dosis', sans-serif;
}

body {
    background-color: #121212;
    padding: 0;
    margin: 0;
}

header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

nav ul li a {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li {
    font-weight: bold;
}

nav ul li:hover {
    color: #8a2aff;
}

#navbar-logo {
    background-color: #b283f4;
    background-image: linear-gradient(to top, #b283f4 40%, #068383 60%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    float: left;   
}

.fa-gem {
    margin-right: 0.1rem;
    padding-top: 0.5rem;
}

#search {
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    height: 25px;
    width: 300px;
    border: 1px solid #510da5;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    font-size: small;
    margin-left: 199px;
}

#search-button {
    border: 1px solid #4a148c;
    border-radius: 5px;
    height: 25px;
    background-color: #4a148c;
    background-image: linear-gradient(to right, 
    #a559df 0%, 
    #9553c6 0%,
    #9155be 21%,
    #8355a7 52%,
    #5b2684 78%,
    #6911ac 100%);
    font-weight: bold;
    margin-top: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.news-card {
    border: 1px solid #4a148c;
    border-radius: 10px;
    width: 380px;
    height: auto;
    background-color: #4a148c;
    background-image: linear-gradient(to right, 
    #a559df 0%, 
    #9553c6 0%,
    #9155be 21%,
    #8355a7 52%,
    #5b2684 78%,
    #6911ac 100%);
    margin: 25px;
}

#card-description {
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#card-description p {
    font-size: small;
    color: #fffefe;
    font-weight: normal;
    justify-content: center;
    letter-spacing: 1.2px;
}

#card-description p a {
    color: #00ffff;
}

#card-description p a:hover {
    color: #02ffff;
    font-weight: bold;
}

#card-description h3 {
    font-size: large;
}

#card-description h3:hover {
    color: #00ffff;
    
}

.card-image img {
    width: 100%;
    height:180px;
    padding: 0;
    border-radius: 10px 10px 0 0;
    background-size: cover;
}

.card-topic {
    margin-left: 5px;
    margin-right: 54px;
    color: #02ffff;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    
}

.writer-avatar img {
    width: 35px;
    border-radius: 25px;
    margin-top: 48px;
    margin-left: 7px;
}

#date {
    font-size: small;
    font-weight: bold;
    margin-top: 59px;
    color: #141313;
}

#author {
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 55px; 
    color: #383838;   
}

#author:hover {
    color: #000;
}

#date-and-author {
    position: relative;
    display: flex;
}

/* Scroll Bar */
.scrollbar-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    height: 350px;
    
}

/* Scroll Bar Webkits */
/* Chrome, Safari, Opera */
::-webkit-scrollbar {
        width: 10px;
        border: 2px solid #0c0c0c;
}

::-webkit-scrollbar-track {
    background: #292b2b;

}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, 
    #a559df 0%, 
    #9553c6 0%,
    #9155be 21%,
    #8355a7 52%,
    #5b2684 78%,
    #6911ac 100%);
    border: 2px solid #0c0c0c;
    border-radius: 20px;
}

/* For Firefox */
::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #00ffff  #4a148c;
}



::-webkit-scrollbar-title {
    
    display: flex;
    width: 100%;
    background-image: linear-gradient(to right, 
    #a559df 0%, 
    #9553c6 0%,
    #9155be 21%,
    #8355a7 52%,
    #5b2684 78%,
    #6911ac 100%);
    border: 2px solid #0c0c0c;
    border-radius: 20px;
}

.scrollbar-title {
    color: #00ffff;
    font-size: xx-large;
}


.mini-card {
    display: flex;
    gap: 16px;
    width: 300px;
    height: 300px;
    padding: 5px;
    margin: 5px;
    background-color: #1c1c1c;
    border: 3.5px solid #4a148c;
    border-radius: 10px;
}

.mini-card-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    padding: 5px;
    margin: 5px;
    background-color: #1c1c1c;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
}


footer {
    color: white;
    background-color: #000;
    width: 100%;
    height: 80px;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header {
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        flex-wrap: wrap;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        justify-content: flex-start;
        margin-right: 20px;
    }

    nav ul li {
        margin-left: 3px;
        margin-right: 3px;
    }

    #search-button {
        width: auto;
    }

    #search {
        width: auto;
        margin-left: 0px;
    }
}